<DModal  
  @title={{i18n "bbb.modal.title"}}
  @closeModal={{@closeModal}}  
  class="insert-bbb-modal">
  <:body>
    {{#if this.errorMsg}}
      <div class="alert alert-error bbb-error-message">{{this.errorMsg}}</div>
    {{/if}}

    <!-- Campo para Meeting Name con límite de 30 caracteres -->
    <div class="control-group">
      <label>{{i18n "bbb.meetingName"}}</label>
      <input 
        type="text" 
        value={{this.meetingName}} 
        placeholder={{i18n "bbb.meetingName_placeholder"}} 
        {{on "input" this.handleInput}}
        {{on "keyup" this.handleInput}}
        {{on "paste" this.handleInput}}
      />
    </div>

    <!-- Fecha y Hora en la misma fila -->
    <div class="control-group bbb-datetime-row">
      <div class="bbb-date-field">
        <label>{{i18n "bbb.startDate"}}</label>
        <input 
          type="date" 
          value={{this.startDate}} 
          {{on "input" this.handleStartDateInput}}
        />
      </div>
      <div class="bbb-time-field">
        <label>{{i18n "bbb.startTime"}}</label>
        <input 
          type="time" 
          value={{this.startTime}} 
          {{on "input" this.handleStartTimeInput}}
        />
        <span class="help">GMT</span>
      </div>
    </div>

    <!-- Campo para Duración -->
    <div class="control-group">
      <label>{{i18n "bbb.duration"}}</label>
      <input 
        type="number" 
        min="1"
        value={{this.duration}} 
        placeholder="60"
        {{on "input" this.handleDurationInput}}
      />
    </div>

    <!-- Texto de ayuda -->
    <div class="control-group">
      <label>
        Once created, your meeting room will be accessible through a button inserted in your post.
      </label>
    </div>
  </:body>
  
  <:footer>
    <DButton
      @class="btn-primary"
      @action={{this.insert}}
      @disabled={{this.insertDisabled}}
    >
      {{i18n "bbb.modal.insert"}}
    </DButton>
    <DButton 
      @class="btn-flat" 
      @action={{@closeModal}}
    >
      {{i18n "bbb.modal.cancel"}}
    </DButton>
  </:footer>
</DModal>
