<DModal
  @title="Insert BigBlueButton Meeting"
  @closeModal={{@closeModal}}
  class="insert-bbb-modal"
>
  <:body>
    <!-- Radio buttons para elegir tipo de meeting -->
    <div class="control-group">
      <label>Meeting Type</label>
      <div class="radio-group">
        <label class="radio-label">
          <input 
            type="radio" 
            name="meetingType" 
            value="existing" 
            checked={{eq this.meetingType "existing"}}
            {{on "change" (fn this.setMeetingType "existing")}}
          />
          Use Existing Meeting ID
        </label>
        <label class="radio-label">
          <input 
            type="radio" 
            name="meetingType" 
            value="new" 
            checked={{eq this.meetingType "new"}}
            {{on "change" (fn this.setMeetingType "new")}}
          />
          Create New Meeting
        </label>
      </div>
    </div>

    <!-- Campo condicional para Meeting ID existente -->
    {{#if (eq this.meetingType "existing")}}
      <div class="control-group">
        <label>Meeting ID</label>
        <Input @value={{this.meetingID}} placeholder="Enter existing meeting ID" />
      </div>
    {{/if}}

    <!-- Campo condicional para nuevo meeting -->
    {{#if (eq this.meetingType "new")}}
      <div class="control-group">
        <label>Meeting Name</label>
        <Input @value={{this.meetingName}} placeholder="Enter meeting name" />
      </div>
    {{/if}}

    <!-- Campos comunes -->
    <div class="control-group">
      <label>Button Text (optional)</label>
      <Input @value={{this.buttonText}} placeholder="Custom button text" />
    </div>
    
    <div class="control-group">
      <label>
        <Input @type="checkbox" @checked={{this.mobileIframe}} />
        Show as iframe on mobile
      </label>
    </div>
    
    <div class="control-group">
      <label>
        <Input @type="checkbox" @checked={{this.desktopIframe}} />
        Show as iframe on desktop
      </label>
    </div>
  </:body>
  
  <:footer>
    <DButton
      @class="btn-primary"
      @action={{this.insert}}
      @disabled={{this.insertDisabled}}
    >
      Insert
    </DButton>
    <DButton @class="btn-flat" @action={{@closeModal}}>
      Cancel
    </DButton>
  </:footer>
</DModal>
